<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        姓名:<input type="text" v-model="name">
            <button v-on:click="findByName">查询</button>
            <button v-on:click="addStudent">添加</button>
        <ol >
            <li v-for="student in students" :key="student.id" v-on:click="delStudent(student)">
                {{student.name}}
            </li>
        </ol>
    </div>
</body>
<script  type="text/javascript" src="webjars/vue/2.1.3/vue.min.js"></script>
<script type="text/javascript" src="webjars/axios/0.18.0/dist/axios.min.js" ></script>
<script>
    var ctx = 'http://localhost:8082/';
    var vm = new Vue({
        el:'#app',
        data:function(){
            return {
                students: [],
                name: ''
            }
        },
        mounted: function () {
            this.findAll();
        },
        methods:{
            findAll:function () {
                    var _this = this;
                    axios.get(ctx+"student/findAll")
                    .then(function (res) {
                        console.log(res.data);
                        _this.students = res.data;
                    })
                    .catch(function (res) {
                        console.log(res)
                })
            },
            findByName:function () {
                    var _this = this;
                    axios.get(ctx+"student/findByName?name="+this.name)
                    .then(function (res) {
                        console.log(res.data);
                        _this.students = [];
                        _this.students = res.data;
                    })
                    .catch(function (res) {
                        console.log(res)
                    })
            },
            addStudent:function () {
                    var _this = this;
                    axios.get(ctx+"student/add?name="+this.name)
                    .then(function (res) {
                        console.log(res.data);
                        _this.students.push(res.data);
                        _this.name = '';
                    })
                    .catch(function (res) {
                        console.log(res)
                    })
            },
            delStudent:function (student) {
                    var _this = this;
                    axios.get(ctx+"student/deleteById?id="+student.id)
                    .then(function () {
                        _this.students.splice(_this.students.indexOf(student),1);
                    }).catch(function () {
                    console.log('删除失败');
                })
            }
        }

    })
</script>
</html>